{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    // Warn when double quotes are used.
    "quotes": [1, "single"],

    // Warn when trailing spaces are detected.
    "no-trailing-spaces": 1,

    // Warn if any functions are missing the "use strict"; hint.
    "strict": [1, "function"],

    // Turn off error/warning for dangling underscores. We're ok with them.
    "no-underscore-dangle": 0,

    // Warn if a global variable is being overwritten.
    "no-undef": 1,

    // Warn if a variable in a function/method shadows another variable defined
    // at a higher scope.
    "no-shadow": 1,

    // Warn if there are unused variables in a file.
    "no-unused-vars": 1,

    // Warn if there are extraneous spaces on a line.
    "no-multi-spaces": 1,

    // Warn if the are extraneous space characters around a key-value pair
    // in an object literal.
    "key-spacing" : 1,

    // Error if the something other than two spaces is used for indentation.
    "indent": [1, 2],

    // Warn if the cyclomatic complexity goes above six for any given function.
    "complexity": [1, 6],

    // Warn if there are any instance of missing or incorrect declarations
    // in a jsdoc header.
    "valid-jsdoc": [1, {
      
      // Having to write "@returns {void}" for every void method seems kind of
      // silly, so lets not require this.
      "requireReturn": false
    }]
  }
}
