{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "mocha": true, //ADDED
    "node": true
  },
  "rules": {
    // Warn when double quotes are used.
    "quotes": [1, "single"],

    // Warn when trailing spaces are detected.
    "no-trailing-spaces": 1,

    // Warn when dangling commas are present.
    "no-comma-dangle": 1,

    // Warn when the brace style isn't correct.
    "brace-style": [1, "1tbs"],

    // Disable reporting on missing "use strict" statements. By virtue of
    // having at least one dependency that has "use strict" enabled, we
    // get it for free.
    "strict": [0, "function"],

    // Turn off error/warning for dangling underscores. We're ok with them.
    "no-underscore-dangle": 0,

    // Warn if a global variable is being overwritten.
    "no-undef": 1,

    // Warn if a variable in a function/method shadows another variable defined
    // at a higher scope.
    "no-shadow": 1,

    // Warn if there are unused variables in a file.
    "no-unused-vars": 1,

    // Warn if there are extraneous spaces on a line.
    "no-multi-spaces": 1,

    // Warn if the are extraneous space characters around a key-value pair
    // in an object literal.
    "key-spacing" : 1,

    // Error if the something other than two spaces is used for indentation.
    "indent": [1, 2],

    // Warn if the cyclomatic complexity goes above six for any given function.
    "complexity": [1, 6],

    "space-in-parens": 1, //ADDED

    // Warn if there are any instance of missing or incorrect declarations
    // in a jsdoc header.
    "valid-jsdoc": [1, {

      // Having to write "@returns {void}" for every void method seems kind of
      // silly, so lets not require this.
      "requireReturn": false,
	  "requireParamDescription": false // ADDED
    }],

    // The following rules are explained here: https://github.com/yannickcr/eslint-plugin-react
    "react/display-name": 0,
    "react/jsx-quotes": [1, "single"],
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 2,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
  }
}
