.grab-cursor() {
  cursor: all-scroll;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;     
}

.grabbing-cursor() {
  cursor: all-scroll;
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;     
}

#global {
  .unselectable() {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}