@import "_base";
@import "colors.less";
@import "typography.less";
@import "draw/graph";
@import "draw/vertex";
@import "draw/port";
@import "draw/edges";
@import "draw/unpinButton";

@import "gui/gui.less";


// TEMP STUFF:
#pan_drag_handle {
  fill: black;
  opacity: 0;
  #global.grab-cursor();

  &:active {
    #global.grabbing-cursor();
  }
}


body {
  font-family: @global-font-face;
  font-size: @global-base-font-size;
  // letter-spacing: 0.3px;
}

html,
body,
#app-container,
#app > svg,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#model_editor {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 75%;
  width: 300px;
  padding: 10px;
}

#model_editor > textarea {
  width: 100%;
  height: 100%;
  font-family: @global-monospaced-font-face;
}

.toolbar {
  position: absolute;
  @top-offset: 160px;

  top: @top-offset;
  @media (max-height: (@top-offset / 0.22)) {
    top: 22%;
  }
  right: 40px;

  max-height: ~"calc(100% - "(@top-offset - 40px)~")";
}
