extends layout

block content
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="/scripts/golle.js")
  div#raw-data-editor-container
  div#graph-container
    //This is the top level node for the main graph canvas
