doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/js/goll-e/goll-e.js')
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/dist/lodash.min.js')
  body
    block content
