.gcl-panel, .gll-panel {
  .code-editor {
    width: 100%;
    min-height: 200px;

    border: none;
    background-color: @color-background-darker;
    color: @color-foreground;

    outline: 0 !important;
    -webkit-appearance: none;

    overflow: scroll;

    resize: vertical;
  }
}
