.edge {
  .edge-line {
    stroke: black;
    fill: none;
    stroke-width: 2px;

    cursor: move;
  }

  .handle {
    opacity: 0;
    stroke: black;
    stroke-width: 2px;
    fill: white;
    cursor: move;

    // transition out
    transition: opacity 200ms ease-out 500ms;
  }

  &:hover {
    .handle {
      opacity: 1;

      // transition in
      transition: opacity 10ms ease-in 0s;
    }
  }


  .debug-markers .ctrl-points {
    .first, .second {
      fill: yellow;
    }
    .first {
      stroke: red;
    }
    .second {
      stroke: blue;
    }
  }
}

#defaultArrowhead path {
  stroke: black;
  fill: black;
}