
.vertex {
  cursor: move;

  .vertex-box {
    fill: white;
    stroke: hsl(0, 0, 5%);
  }

  .label {
    color: black;
    alignment-baseline: central;
  }

  &:not(:hover) > .unpin-button {
    display: none;
  }
}
